.alert {
	display: none;
}

@media screen and (max-width: 990px), (max-height: 600px) {
  .alert {
  	z-index: 20;
  	background-color: #878b7b;
	position: absolute;
	top:0;
	bottom:0;
	left: 0;
	right:0;
	margin: auto;
	display: inline-block;
	width:1000px;
  }
}

#alertText {
	text-align: center;
	margin: auto;
	letter-spacing: 5px;
	color: #e5e2db;
	font-size: 20px;
	text-shadow: 0px 2px 2px #3a3d32;
}

h6 {
	font-size: 25px;
	letter-spacing: 4px;
	color: #e5e2db;
	text-shadow: 0px 2px 2px #3a3d32;
}

.container {
	text-align: center;
	min-width: 840px;
}

a:link {
  text-decoration: none;
}

body {
  background-color: #878b7b;
  min-width: 840px;
}

* {
	font-family: 'Roboto', sans-serif;
}

img {
	border-radius: 2px; 
}

#i {
	background-color: #3a3d32;
	color: #D9D0BF;
	height: 10px;
	min-width: 830px;
	max-width: 830px
}

#fieldGuideAll {
	z-index: -10;
	position: absolute;
	top:0;
	bottom:0;
	left: 0;
	right:0;
	margin: auto;
	display:inline-block;
}

ul.fGList {
	max-height: 390px;
	min-height: 390px;
	margin-top: 5px;
	list-style-type: none;
  	padding: 1px;
  	padding-left: 15px;
  	width: 225px;
  	color: white;
  	font-size: 16px;
}

ul.fGList li {
	background: none;
	margin: 7px;
	padding: 11px;
	border-radius: 6px;
	letter-spacing: 1px;
}

ul.fGList li:hover {
	color: #f5f3ed;
	cursor: pointer;
	font-weight:bold;
	letter-spacing: 2px;
	text-shadow: 0px 2px 1px black;
}

ul.fGList::-webkit-scrollbar {
    display:none;
}

#bottomMenu {
	background-color: #3a3d32;
	min-width: 830px;
	max-width: 830px;
	height: 63px;
	letter-spacing: 8px;
	padding-top: 4px;
	padding-bottom: 12px;
	position: static;
}

#box {
	position: fixed;
	height: 548px;
	z-index: -10;
	background-color: #d3cec2;
	min-width: 830px;
	max-width: 830px;
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}

#fieldGuideHeader {
	background-color: #3a3d32;
	color: #D9D0BF;
	height: 56px;
	min-width: 258px;
	max-width: 258px;
	padding: 5px 0;
	letter-spacing: 8px;
}

#titleField {
	background-color: #3a3d32;
	color: #d3cec2;
	font-size: 18px;
	letter-spacing: 3px;
	height: 56px;
	min-width: 314px;
	max-width: 314px;
	padding: 7px 0;
	text-shadow: 0px 4px 3px black;
	font-weight: bold;
}

#fieldGuideSpeciesList {
	padding: 9px;
	z-index: 8;
	position: static;
	min-width: 830px;
	max-width: 830px;
	height: 409px;
	background-color: #55594a;
	/*background: url('./img/trees/alder.jpg');*/
	border-left: solid 20px #3a3d32;	
	border-right: solid 20px #3a3d32;
	box-shadow:inset 0 0 0 4px #c5ce8b;
}

#speciesInfo {
	z-index: 5;
	color: #d3cec2;
	position: fixed;
	padding-left: 10px;
	padding-top: 12px;
	min-width: 790px;
	max-width: 790px;
	height: 409px;
	background-color: #55594a;
	border: solid 4px #c5ce8b;
	/*box-shadow:inset 0 0 0 4px #c5ce8b;*/
	text-align: left;
	overflow-y: hidden;
	overflow-x: hidden;
}

#namesArea {
	padding-left: 21px;
	font-size: 13px;
	height: 200px;
}

#factsArea {
	padding-top: 0px;
	padding-left: 21px;
	padding-right: 15px;
	color: #d3cec2;
	font-size: 13px;
	height: 178px;
	min-width: 780px;
	max-width:780px;
}

h5 {
	font-size: 14px;
	letter-spacing: 4px;
	color: #c5ce8b;
	text-shadow: 0px 2px 2px black;
}

#image {
	text-align:center; !important
}

img {
	border-radius: 8px;
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.btn6 {
  background-color: #3a3d32;
  color: #d3cec2;
  text-align: center;
  font-size: 12px;
  height: 88%;
  width: 130px;
  transition: all ease 0.7s;
  border: solid 2px;
  border-color: #718042;
  border-radius: 2px;
  cursor: pointer;
  margin: 4px;
  letter-spacing: 3px;
}

/* top menu buttons*/
.btn6:hover {
  	color: #3a3d32;
  	box-shadow: inset 0 50px 0 0 #d3cec2;
  	border-color: #d3cec2;
  	font-weight: bold;
}

/* bottom menu buttons */
.btn7 {
  background-color: #3a3d32;
  color: #d3cec2;
  text-align: center;
  font-size: 12px;
  height: 41px;
  width: 100px;
  transition: all ease 0.7s;
  border: solid 2px;
  border-color: #718042;
  border-radius: 2px;
  cursor: pointer;
  margin: 2px;
}

.btn7:hover {
	color: #3a3d32;
  	box-shadow: inset 110px 0 0 0 #d3cec2;
  	border-color: #d3cec2;
  	font-weight: bold;
}

.btn7R {
  background-color: #3a3d32;
  color: #d3cec2;
  text-align: center;
  font-size: 12px;
  height: 41px;
  width: 100px;
  transition: all ease 0.7s;
  border: solid 2px;
  border-color: #718042;
  border-radius: 2px;
  cursor: pointer;
  margin: 2px;
}

.btn7R:hover {
	color: #3a3d32;
  	box-shadow: inset -110px 0 0 0 #d3cec2;
  	border-color: #d3cec2;
  	font-weight: bold;
}

#alder:hover	{
	background-image: url("./img/trees/list/alder.jpg");
}

#aspen:hover	{
	background-image: url("./img/trees/list/aspen.jpg");
}

#beech:hover	{
	background-image: url("./img/trees/list/beech.jpg");
}

#cherry:hover	{
	background-image: url("./img/trees/list/cherry.jpg");
}

#cottonwood:hover	{
	background-image: url("./img/trees/list/cottonwood.jpg");
}

#datepalm:hover	{
	background-image: url("./img/trees/list/datepalm.jpg");
}

#elm:hover	{
	background-image: url("./img/trees/list/elm.jpg");
}

#fir:hover	{
	background-image: url("./img/trees/list/fir.jpg");
}

#hickory:hover	{
	background-image: url("./img/trees/list/hickory.jpg");
}

#joshuatree:hover	{
	background-image: url("./img/trees/list/joshuatree.jpg");
}

#juniper:hover	{
	background-image: url("./img/trees/list/juniper.jpg");
}

#loblollypine:hover	{
	background-image: url("./img/trees/list/loblollypine.jpg");
}

#magnolia:hover	{
	background-image: url("./img/trees/list/magnolia.jpg");
}

#maple:hover	{
	background-image: url("./img/trees/list/maple.jpg");
}

#oak:hover	{
	background-image: url("./img/trees/list/oak.jpg");
}

#ponderosapine:hover	{
	background-image: url("./img/trees/list/ponderosapine.jpg");
}

#spruce:hover	{
	background-image: url("./img/trees/list/spruce.jpg");
}

#sycamore:hover	{
	background-image: url("./img/trees/list/sycamore.jpg");
}

#walnut:hover	{
	background-image: url("./img/trees/list/walnut.jpg");
}

#whitepine:hover	{
	background-image: url("./img/trees/list/whitepine.jpg");
}

#navButtons {
	z-index: 6;
	min-width: 830px;
	max-width: 830px;
	position: absolute;
	top:338px;
	bottom:0;
	left: 0;
	right:0;
	margin: auto;
	display:inline-block;
	height: 30px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	line-height: 4px;
}

#empty {
	min-width: 600px;
	max-width: 600px;
}

.btn8L {
  background-color: #3a3d32;
  color: #d3cec2;
  text-align: center;
  font-size: 18px;
  height: 30px;
  width: 50px;
  transition: all ease 0.7s;
  border: solid 2px;
  border-color: #718042;
  border-radius: 40px;
  cursor: pointer;
}

.btn8L:hover {
	color: #718042;
  	box-shadow: inset -60px 0 0 0 #d3cec2;
  	border-color: #d3cec2;
  	font-weight: bold;
}

.btn8R {
  background-color: #3a3d32;
  color: #d3cec2;
  text-align: center;
  font-size: 18px;
  height: 30px;
  width: 50px;
  transition: all ease 0.7s;
  border: solid 2px;
  border-color: #718042;
  border-radius: 40px;
  cursor: pointer;
}

.btn8R:hover {
	color: #718042;
  	box-shadow: inset 60px 0 0 0 #d3cec2;
  	border-color: #d3cec2;
  	font-weight: bold;
}